.background-color{
    background: linear-gradient(300deg, violet, midnightblue, red);
    background-size: 180% 180%;
    animation:18sec ease infinite;}
.footerbutton {
    color: blue;
    background-color: paleturquoise;
      border: 0;
    
}
svg {
    width: 30px;
    height: 30px;
    padding-right: 10px;
}
.svg{
    width: 100px;

}
.container{
   margin-bottom: 0;
}
.flex{
    margin-top: 30px;
    display: flex;
   justify-content: space-between;
   gap: 20px;
   width: 75%;
}
.card-img-top{
    height: 50%;
    width:100%;
}
.blue{
    color: blue;
}
.center{
   text-align: center;
}
.grey{
    background-color: grey;
    width: 100%;
}
.card-img-top{
    height: 300px;
}